modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 42495
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "npm run start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_APP_URL = "https://17a9ae5a-abee-4fe8-86d6-4a9056cbd438-00-3hktak2g3706y.riker.replit.dev"
