modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["stripe:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37221
externalPort = 3002

[[ports]]
localPort = 37349
externalPort = 3000

[[ports]]
localPort = 38985
externalPort = 3003

[[ports]]
localPort = 45697
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "npm run start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY = "pk_test_51SWvnAGjv5I67dbIg5bzzBqGWhRniIANPANtaI8OFkGobzHzjV2AA2f6bjYo635idTddRGZNI4oeZIXyu5hye28x00tWXz4yOQ"
STRIPE_PORTAL_CONFIG_ID = "bpc_1SZY32Gjv5I67dbIidouBosm"

[userenv.development]
NEXT_PUBLIC_APP_URL = "https://17a9ae5a-abee-4fe8-86d6-4a9056cbd438-00-3hktak2g3706y.riker.replit.dev"
STRIPE_PRICE_STARTER = "price_1SY1anEEmLaMalAXL8J8GvZE"
STRIPE_PRICE_PRO = "price_1SY1anEEmLaMalAXloB65H8J"
STRIPE_PRICE_ENTERPRISE = "price_1SY1aoEEmLaMalAXEjpXry7c"

[userenv.production]
NEXT_PUBLIC_APP_URL = "https://voicall-simonmedici.replit.app"
STRIPE_PRICE_STARTER = "price_1SY1anEEmLaMalAXL8J8GvZE"
STRIPE_PRICE_PRO = "price_1SY1anEEmLaMalAXloB65H8J"
STRIPE_PRICE_ENTERPRISE = "price_1SY1aoEEmLaMalAXEjpXry7c"
